@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #fff;
   line-height: 1.5;
   padding: 20px;
   font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
   margin: 0;
   padding: 0;
}

.title {
   font-family: 'Oswald', 'Roboto', Arial, sans-serif;
}

h3.banner-title {
   padding: 0;
   margin: 0;
}

h3.title {
   padding-bottom: 35px;
   font-family: 'Oswald', 'Roboto', Arial, sans-serif;
}

#landing-page {
   text-align: center;
   .icon {
      padding: 20px 0;
      width: 100px;
      height: auto;
   }
   .banner-logo {
      width: 90%;
      height: auto;
      padding-bottom: 20px;
   }
   nav {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
      box-shadow: 2px 2px 10px grey;
      #menu {
         list-style-type: none;
         padding: 1em;
         display: flex;
         flex-direction: column;
         a {
            color: #333;
            font-size: 15px;
            font-family: 'Oswald';
            text-decoration: none;
            transition: .5s linear ease-in-out;
            &:hover {
               color: orange;
            }
         }
      }
   }
}

#roundBtn {
   font-size: 30px;
   outline: none;
   transition: .2s;
   cursor: pointer;
}

#roundBtn:hover {
   transform: scale(1.5,1.5);
}


/*  SIDE OUT MENU  */

#slideMenu {
   z-index: 999;
   padding-top: 100px;
   text-align: center;
   width: 100vw;
   height: 100vh;

   position: fixed;
   top: 0;
   left: 0;

   background-color: rgba(255,255,255,.9);

   transform: translate3d(-100vw, 0, 0);
   transition: transform .3s cubic-bezier(0, .52, 0, 1);
   overflow: hidden;
}

#slideMenu.show {
   transform: translate3d(0vw, 0, 0);
}

#slideMenu h2 a {
   color: #333;
   font-size: 70px;
}

#slideMenu h2 a:hover {
   text-decoration: underline;
}

/* CONTENT BEGIN */


/* services */

#services {
   .btn {
      margin: 15px 0;
   }
}


section#satisfaction {
   margin-top: 35px;
}

section#contact {
   text-align: center;
   form {
      text-align: center;
      width: 100%;
      #name {
         width: 90%;
      }
      #email {
         width: 90%;
      }
      #message {
         width: 90%;
      }
      .btn {
         box-shadow: 0px 0px 5px #333;
      }
   }
}


/* slider */

#slideshow {
   margin: 50px auto;
   position: relative;
   width: 100%;
   height: 350px;
      img {
         width: 100%;
         height: 350px;
      }
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
